<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img src="assets/logo_round.png" width="60" height="40" class="d-inline-block align-top" alt="">
    <div ngbDropdown class="d-inline-block">
    <span class="brand-title" ngbDropdownToggle><span class="btt">{{pageName}}</span><span class="dropdown-symbol"><fa-icon [icon]="faCaretDown"></fa-icon></span></span>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem type="button" routerLink="/">Inventario</button>
        <button ngbDropdownItem type="button" *ngIf="isAdmin" routerLink="/control-panel">Panel de control</button>
    </div>
  </div>
  </a>
  <ul class="nav justify-content-right" style="margin-left: auto!important;">
    <li class="nav-item">
      <a class="nav-link nav-icon icon-barcode" href="#"><fa-icon [icon]="faBarcode"></fa-icon></a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-icon" routerLink="/search"><fa-icon [icon]="faSearch"></fa-icon></a>
    </li>
    <span class="separator"></span>
    <li class="nav-item">
      <div ngbDropdown class="d-inline-block">
          <a class="nav-link nav-icon" id="dropdownBasic1" ngbDropdownToggle style="color: #28a745;"><fa-icon [icon]="faUser"></fa-icon></a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem type="button" (click)="logout()">Cerrar sesión</button>
          </div>
        </div>
    </li>      
  </ul>
</nav>