tr th,
tr td{
    white-space: nowrap;
}
.table-responsive{
    margin: auto;
    width: auto;
    overflow: auto;
    height: 569px;
}
.thead-green th{
    color: #fff;
    background-color: #28a745;
    border: none;
}
.thead-green th{
    font-weight: 100;
    font-size: 1.15em;
}
.table-hover tbody tr:hover{
    background-color: #69abf342;
}
.nav{
    background-color: #e9ecef;
}
.nav li a{
    color: #343a40;
}
.nav-tabs .nav-item{
    cursor: pointer;
}
.footer{
    background-color: #28a745;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;    
    box-shadow: 0px 1px 11px #0000009c;
}
.footer li a{
    color: white;
    font-size: x-large;
    text-align: center;
}
.footer li{
    min-width: 80px;
}
.footer li a span{
    display: block;
    font-size: x-small;
}
.footer-active{
    background-color: #19732d91;
}
thead th { 
    position: sticky;
    top: 0;    
 }
 .qty-diff{
    text-align: center;
    color: white;
    font-weight: 700;
 }
 .checked{
     display: block;
     width: 100%;
     text-align: center;
     color: #28a745;
 }
 .approved{
    background-color: #28a74538;
 }
 .no-products-message{
     color: #28a745;
     text-align: center;
 }
 @media(max-width: 420px){
     .no-products-message h1{
         font-size: 3.5em;
     }
 }
 @media(min-width: 420px){
    .no-products-message h1{
        font-size: 4.5em;
    }
}
 .no-products-message div{
     color: grey;
     font-size: 0.9em;
 }
 .adjustment{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #28a745;
    padding: 8px 20px;
    font-size: xx-large;
    border-radius: 100px;
    color: white;

 }
 .adjustment:hover{
     background-color: #228438;
 }
 tbody{
    border-bottom: 1px solid #8080802e;}
#th-button:hover{
    background-color: #228438;
}
