.appr-row{
    background-color: #e9ecefbd;
}
.appr-container{
    background-color: white;
    max-width: 550px;
}
.nav-item{
    margin-right: 5px;
    margin-top: 5px;
}
.exit-button{
    font-size: x-large;
    color: #6c757d;
    position: absolute;
    right: 15px;
    top: 5px;
}
.product-name{
    font-size: 20px;
    margin-top: 7px;
    font-weight: 500;
    max-width: 90%;
}
.form-group{
    margin-bottom: 2rem;
}
.form-group label{
    display: block;
    font-size: larger;
}

.h-division{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #f8f9fa;
}
.custom-control-label{
    font-size: large;
    width: 100%;
}
.custom-switch{
    margin-left: 5px;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #28a745;
    background-color: #28a745;
}
.btn-group{
    width: calc(100% - 30px);
    position: absolute;
    bottom: 60px;
}
.btn-group button{
    max-width: 50%;
}
.exit-button a{
    color: grey;
}
.revision-container{
    padding: 15px;
    background: #17b872;
    border-radius: 10px;
    color: #f8f9fa;
    margin-bottom: 25px;
}
.revision-title{
    font-size: 1.5em;
}
.tour-ended h1{
    font-size: 3.2rem;
    color: #28a745;
}
.tour-ended{
    text-align: center;
}
.tour-ended div{
    color: grey;
    font-size: 1.1rem;
}
